<div class="mat-elevation-z8">
    <div class="table-container tooltip">
        <table mat-table [dataSource]="stocksData" matSort>
            <ng-container matColumnDef="displayPhoto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Display Photo</th>
                <td mat-cell *matCellDef="let stock">
                    <div class="display-photo max-width round-border">
                        {{ stock.displayPhoto }}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</th>
                <td mat-cell *matCellDef="let stock">
                    {{ stock.symbol }}
                    <br>
                    <div class="status-badge-container">
                        <span class="badge green font-small" *ngFor="let scan of stock.allScans.intradayScans">
                            {{ scan.scanShortcode }}
                        </span>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="ltp">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>LTP</th>
                <td mat-cell *matCellDef="let stock">
                    {{ stock.ltp }}
                    <span [ngClass]="{'small-red-text':stock.pctChange<0,'small-green-text':stock.pctChange>0}">
                        <br>
                        {{stock.pctChange}}%
                    </span>
                </td>
            </ng-container>
            <ng-container matColumnDef="stockMomentumRank">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Momentum</th>
                <td mat-cell *matCellDef="let stock">
                    <span class="badge green round-border">{{ stock.stockMomentumRank }}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="open">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Open</th>
                <td mat-cell *matCellDef="let stock">{{ stock.open }}</td>
            </ng-container>
            <ng-container matColumnDef="todaysRange">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Today's Range</th>
                <td mat-cell *matCellDef="let stock">
                    <app-progress-bar [item]="stock"></app-progress-bar>
                </td>
            </ng-container>
            <ng-container matColumnDef="openHighLowSignal">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>OHL</th>
                <td mat-cell *matCellDef="let stock"><span class="badge" [ngClass]="{
                    'green': stock.openHighLowSignal.toUpperCase() === 'OPEN=LOW',
                    'red': stock.openHighLowSignal.toUpperCase() === 'OPEN=HIGH'
                  }">{{stock.openHighLowSignal}}
                    </span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <!-- <tr mat-row >hello</tr> -->
        </table>
    </div>
    <div class="paginator-container">
        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>