.progress-bar-main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.progress-bar-container {
    flex-grow: 1;
    margin: 0 10px;
    background-color: rgb(205, 205, 205);
    border-radius: 5px;
}

.progress-bar {
    height: 8px;
    background-color: #4caf50;
    border-radius: 5px;
    position: relative;
}

.progress-bar span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 12px;
}